@import "variables";

.container {
  margin-left: calc(10% + 250px);
}

:host {
  ::ng-deep {
    section {
      h2 {
        border-radius: 15px;
        padding: 1rem;
        color: white;
      }

      h3 {
        border-radius: 15px;
        padding: 0.8rem;
        color: white;
        margin: 5px 0 !important;
      }
    }
  }
}
