<div class="row bg-primary rounded">
  <div
    class="col-12 d-flex justify-content-center align-items-center flex-column"
  >
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">Bem Vindo!</h1>
        <h5 class="text-white">Complete seu cadastro</h5>
      </div>
    </div>
    <div class="row w-50">
      <div class="col-12">
        <div class="mb-3 w-100">
          <label for="email" class="form-label text-white">Seu nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="name"
            formControlName="start_date"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3 w-100">
          <label for="email" class="form-label text-white">Seu email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            aria-describedby="email"
            formControlName="start_date"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3 w-100">
          <label for="email" class="form-label text-white">Seu email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            aria-describedby="email"
            formControlName="start_date"
          />
        </div>
      </div>
    </div>
  </div>
</div>
