<div class="d-flex flex-column justify-content-between wrapper">
  <div class="row mt-5">
    <app-logo></app-logo>
  </div>
  <div class="row bg-green rounded-top h-50">
    <h3 class="text-white align-self-center">Entrar</h3>
    <div class="col-12">
      <form [formGroup]="form" class="d-flex flex-column align-items-center">
        <div class="mb-3 w-100">
          <label for="email" class="form-label text-white">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="password" class="form-label text-white">Senha</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            aria-describedby="passwordHelp"
          />
        </div>
        <button type="submit" class="btn btn-primary w-75">Entrar</button>
        <span>
          <a routerLink="/signup">Cadastrar</a>
        </span>
      </form>
    </div>
  </div>
</div>
