<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-6">
      <mat-card [formGroup]="form">
        <mat-card-header>
          <mat-card-title> Entrar</mat-card-title>
          <mat-card-subtitle>
            Entre no sistema para continuar.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
          class="justify-content-center align-items-center w-100"
        >
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Escreva seu email</mat-label>
            <input
              name="login-email"
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              autocomplete="login-email"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Digite sua senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <span class="material-symbols-outlined">
                {{ hide ? "visibility_off" : "visibility" }}
              </span>
            </button>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="login()">
            Entrar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
