@import "../../../assets/styles/variables";

.content {
  background-color: #5a8f7b;
}

.wrapper {
  .container {
    .speciality-thumb {
      min-width: 150px;
      min-height: 150px;
      background-color: $primary;
      span.material-symbols-outlined {
        font-size: 4rem;
      }
    }
  }
}

.number {
  &.active {
    color: #355764;
  }
}
