@import "variables";

.wrapper {
  .container {
    .speciality-thumb {
      min-width: 150px;
      min-height: 150px;
      background-color: $green;
      span.material-symbols-outlined {
        font-size: 4rem;
      }
    }
  }
}

.number {
  &.active {
    color: #355764;
  }
}

.hours-list {
  height: 300px;
  display: flex;
  flex-wrap: inherit;
  overflow-y: auto;
}
