<div class="d-flex flex-column justify-content-between wrapper">
  <app-header></app-header>
  <div class="content text-white rounded-top py-5">
    <form [formGroup]="form">
      <div class="wrapper-step">
        <h2 class="mx-2 my-2 text-center">O que você está procurando?</h2>

        <div class="container pt-4 h-75">
          <div class="row">
            <div
              class="col-6 my-2"
              *ngFor="let speciality of specialities"
              (click)="specialitySelected(speciality.id)"
            >
              <div
                class="speciality-thumb d-flex flex-column justify-content-center align-items-center rounded"
              >
                <span class="material-symbols-outlined">
                  medical_services
                </span>
                <span class="text-center">
                  <b> {{ speciality.name }}</b>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-step" *ngIf="false">
        <h2 class="mx-2 my-2 text-center">Qual a distância máxima desejada?</h2>

        <div class="container h-50 pt-4">
          <div class="row">
            <div class="col-12">
              <div class="mb-3 w-80 mx-auto">
                <input
                  type="range"
                  class="form-range w-100"
                  min="0"
                  max="100"
                  step="20"
                  id="cities-range"
                  name=""
                  formControlName="max_distance"
                />
              </div>
              <div class="steps-value d-flex justify-content-between">
                <div
                  class="number"
                  [ngClass]="{ active: isActualMaxDistance(0) }"
                >
                  0 Km
                </div>
                <div
                  class="number"
                  [ngClass]="{ active: isActualMaxDistance(20) }"
                >
                  20 Km
                </div>
                <div
                  class="number"
                  [ngClass]="{ active: isActualMaxDistance(40) }"
                >
                  40 Km
                </div>
                <div
                  class="number"
                  [ngClass]="{ active: isActualMaxDistance(60) }"
                >
                  60 Km
                </div>
                <div
                  class="number"
                  [ngClass]="{ active: isActualMaxDistance(80) }"
                >
                  80 Km
                </div>
                <div
                  class="number"
                  [ngClass]="{ active: isActualMaxDistance(100) }"
                >
                  100 Km
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-step" *ngIf="hasSpecialitySelected()">
        <ng-container *ngIf="ongs.length > 0; else withoutOngsAvailable">
          <h2 class="mx-2 my-2 text-center">
            Essas são as ongs que prestam esse serviço perto de você!
          </h2>

          <div class="container pt-4">
            <div class="row">
              <div
                class="col-12 my-2"
                *ngFor="let ong of ongs"
                (click)="(ong?.id)"
              >
                <div class="card border-none">
                  <div class="card-body">
                    <div class="card-title text-black">
                      <h3>{{ ong?.name }}</h3>
                    </div>

                    <h6
                      class="card-subtitle my-2 text-muted d-flex justify-content-start align-items-center"
                    >
                      <span class="material-symbols-outlined">
                        location_on
                      </span>
                      {{ ong.address?.street }},
                      {{ ong?.address?.neighborhood }},
                      {{ ong?.address?.number }}
                    </h6>

                    <button
                      class="btn btn-primary mt-4 w-100"
                      (click)="ongSelected(ong.id)"
                    >
                      Escolher
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #withoutOngsAvailable>
          <h2 class="mx-2 my-2 text-center bg-danger p-2 rounded">
            Não encontramos nenhuma ong que presta esse serviço perto de você!
          </h2>
        </ng-template>
      </div>

      <div class="wrapper-step" *ngIf="pets.length > 0 && hasOngSelected()">
        <h2 class="mx-2 my-2 text-center">Qual pet deseja levar</h2>

        <div class="container pt-4">
          <div class="mb-3 w-100">
            <label for="email" class="form-label text-white">
              Escolha seu pet
            </label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="pet_id"
              required
            >
              <option value="null">Selecione um pet</option>
              <option [value]="pet?.id" *ngFor="let pet of pets">
                {{ pet?.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="wrapper-step" *ngIf="hasPetSelected()">
        <ng-container
          *ngIf="getHoursOfAvailableDates().length > 0; else withoutHours"
        >
          <h2 class="mx-2 my-2 text-center">Qual horário desejado?</h2>
          <div class="container pt-4 d-flex hours-list">
            <div class="row align-items-center justify-content-center">
              <div
                class="col-8 my-2"
                *ngFor="let hour of getHoursOfAvailableDates()"
              >
                <button
                  type="button"
                  class="btn btn-primary w-100"
                  (click)="selectHour(hour)"
                >
                  {{ hour }}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #withoutHours>
          <h2 class="mx-2 my-2 text-center bg-danger p-2 rounded">
            Não encontramos nenhum horário disponível para essa instituição, por
            favor escolha outra!
          </h2>
        </ng-template>

        <div class="container pt-4" *ngIf="selectedHour">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <app-calendar
                [availableDates]="availablesDaysOfDate"
                (dateSelected)="dateClicked($event)"
              ></app-calendar>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-4 mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-6 d-flex justify-content-center">
            <button
              class="btn btn-primary w-100"
              (click)="submit()"
              [disabled]="form.invalid"
            >
              Agendar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
