@import "variables";

.wrapper {
  .container {
    .speciality-thumb {
      min-width: 150px;
      min-height: 150px;
      background-color: $primary;
      span.material-symbols-outlined {
        font-size: 4rem;
      }
    }
  }
}

.number {
  &.active {
    color: #355764;
  }
}
