<div class="d-flex flex-column justify-content-between wrapper container">
  <div class="row my-5">
    <app-logo></app-logo>
  </div>
  <div class="row bg-green rounded-top">
    <h3 class="text-white align-self-center py-5">Cadastrar</h3>
    <div class="col-12">
      <form [formGroup]="form" class="d-flex flex-column align-items-center">
        <div class="mb-3 w-100">
          <label for="name" class="form-label text-white">Name</label>
          <input
            type="name"
            class="form-control"
            id="name"
            formControlName="name"
            aria-describedby="name"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="email" class="form-label text-white">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="email" class="form-label text-white">Phone</label>
          <input
            type="phone"
            class="form-control"
            id="phone"
            formControlName="phone"
            aria-describedby="phone"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="password" class="form-label text-white">Senha</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            aria-describedby="passwordHelp"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="passwordConfirmation" class="form-label text-white">
            Confirmação da senha
          </label>
          <input
            type="password"
            class="form-control"
            id="password_confirmation"
            formControlName="password_confirmation"
            aria-describedby="password_confirmationHelp"
          />
        </div>
      </form>
    </div>
    <div class="col-12">
      <h3 class="text-white">Endereço</h3>
      <form [formGroup]="form" class="d-flex flex-column align-items-center">
        <div class="mb-3 w-100">
          <label for="address" class="form-label text-white"
            >Escolha seu estado</label
          >
          <input
            type="address"
            class="form-control"
            id="states_input"
            formControlName="state"
            aria-describedby="addressHelp"
            list="states"
          />
          <datalist id="states">
            <option *ngFor="let state of states" [value]="state.sigla">
              {{ state.nome }}
            </option>
          </datalist>
        </div>
        <div class="mb-3 w-100">
          <label for="address" class="form-label text-white"
            >Escolha sua cidade</label
          >
          <input
            type="city"
            class="form-control"
            id="city"
            formControlName="city_id"
            list="cities"
            autocomplete="off"
          />
          <datalist id="cities">
            <option *ngFor="let city of cities" [value]="city.id">
              {{ city.nome }}
            </option>
          </datalist>
        </div>
        <div class="mb-3 w-100">
          <label for="neighborhood" class="form-label text-white">Bairro</label>
          <input
            type="neighborhood"
            class="form-control"
            id="neighborhood"
            formControlName="neighborhood"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="neighborhood" class="form-label text-white">Rua</label>
          <input
            type="street"
            class="form-control"
            id="street"
            formControlName="street"
          />
        </div>
        <div class="mb-3 w-100">
          <label for="neighborhood" class="form-label text-white">Número</label>
          <input
            type="number"
            class="form-control"
            id="number"
            formControlName="number"
          />
          <label for="neighborhood" class="form-label text-white">CEP</label>
          <input
            type="zipCode"
            class="form-control"
            id="zipCode"
            formControlName="cep"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary w-75 mb-4"
          (click)="signup()"
        >
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
