@import "variables";

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  margin: 0 !important;
  left: 0;
  padding: 2% 10%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.726) !important;

  * {
    font-size: 3rem;
    color: $dark;
    text-decoration: none;
  }

  .active {
    color: $primary;
  }
}
