<div class="row">
  <div class="col-12">
    <section>
      <h2>Horários</h2>
      <form class="container mt-4" [formGroup]="form">
        <div class="row">
          <div class="col-4">
            <div class="mb-3 w-100">
              <label for="email" class="form-label"
                >Escolha as especialidades</label
              >
              <select
                name="specialities"
                id="specialities"
                class="form-select"
                multiple
                formControlName="speciality_id"
              >
                <option
                  [value]="speciality.id"
                  *ngFor="let speciality of specialities"
                >
                  {{ speciality.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3 w-100">
              <label for="email" class="form-label">Data inicial</label>
              <input
                type="date"
                class="form-control"
                id="email"
                aria-describedby="start-date"
                formControlName="start_date"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3 w-100">
              <label for="email" class="form-label">Data final</label>
              <input
                type="date"
                class="form-control"
                id="final-date"
                aria-describedby="final-date"
                formControlName="final_date"
              />
            </div>
          </div>
          <div class="col-2">
            <div class="mb-3 w-100">
              <label for="email" class="form-label">Intervalo</label>
              <input
                type="number"
                class="form-control"
                id="interval"
                aria-describedby="interval"
                formControlName="duration"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="mb-3 w-100">
              <label for="email" class="form-label">Escolha os médicos</label>
              <select
                name=""
                id=""
                class="form-select"
                multiple
                formControlName="specialists_ids"
              >
                <option
                  [value]="specialist.id"
                  *ngFor="let specialist of filteredSpecialists"
                >
                  {{ specialist.user.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3 w-100">
              <label for="email" class="form-label"> Hora Inicial </label>
              <input
                type="time"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                formControlName="start_time"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3 w-100">
              <label for="email" class="form-label"> Hora Final </label>
              <input
                type="time"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                formControlName="final_time"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <span> Dias da Semana</span>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox1"
                    value="option1"
                    (click)="checkAll()"
                  />
                  <label class="form-check-label" for="inlineCheckbox1">
                    Todos
                  </label>
                </div>
              </div>
              <div class="col-4" *ngFor="let size of sizes">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input border"
                    type="checkbox"
                    [id]="'size_' + size.id"
                    [value]="size.id"
                    (change)="insertOrDeleteSize(size.id)"
                  />
                  <label class="form-check-label" for="size_{{ size.id }}">
                    {{ size.name }}
                  </label>
                </div>
              </div>

              <!-- <div class="col-3" *ngFor="let day of weekDays">
                <div
                  class="form-check form-check-inline"
                  formGroupName="week_days"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [id]="day.name"
                    [value]="day.id"
                    [formControlName]="day.id - 1"
                  />
                  <label class="form-check-label" for="inlineCheckbox2">
                    {{ day.name }}
                  </label>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-end">
            <button class="btn btn-primary w-75" (click)="createSchedule()">
              Cadastrar
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <section>
      <h2>Agendas</h2>
    </section>
    <div
      class="row"
      *ngFor="let calendar of specialistsSchedules; let i = index"
    >
      <section class="my-2 w-80">
        <h3>
          {{ calendar[0].user.name }}
        </h3>
      </section>
      <ng-container *ngFor="let specialist of calendar">
        <div class="container w-80 mx-4">
          <div
            class="col-12 d-flex align-items-center p-2 list my-2 rounded"
            *ngFor="let schedule of specialist.schedules"
          >
            <div
              class="col d-flex flex-column justify-content-center align-items-center"
            >
              <b>Data</b> {{ schedule.date }}
            </div>
            <div
              class="col d-flex flex-column justify-content-center align-items-center"
            >
              <b>Dia:</b> Segunda
            </div>
            <div
              class="col d-flex flex-column justify-content-center align-items-center"
            >
              <span> <b>Hora inicial</b> {{ schedule.initial_hour() }} </span>
              <span> <b>Hora Final</b> {{ schedule.final_hour() }} </span>
            </div>
            <div
              class="col d-flex flex-column justify-content-center align-items-center"
            >
              <b>Especialidade: </b> {{ specialist.speciality.name }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
