@import "./assets/styles/variables";

* {
  font-family: "Montserrat";
}
.bg-green {
  background-color: #9ed79a;
}

.rounded-top {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

h1 {
  // font-size: 40px;
  font-weight: 600;
}

h2 {
  // font-size: 20px;
  font-weight: 600;
}

h3 {
  // font-size: 15px;
  font-weight: 600;
}

h6 {
  font-size: 13px;
  font-weight: 600;
}

.w-80 {
  width: 80% !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
