/* You can add global styles to this file, and also import other style files */
.bg-green {
    background-color: #86EEB6;
}

.rounded-top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}